services:
  # 1. API
  api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5001:8080" 
    environment:
      # OVERRIDE the connection string to point to the local 'db' service
      - ConnectionStrings__DefaultConnection=Server=db;Port=5432;Database=eurovision_local_db;User Id=local_user;Password=local_pass;SearchPath=ranker
      - ASPNETCORE_ENVIRONMENT=Development
    depends_on:
      - db
      - flyway

  # 2. (Local only)
  db:
    image: postgres:15-alpine
    environment:
      - POSTGRES_DB=eurovision_local_db
      - POSTGRES_USER=local_user
      - POSTGRES_PASSWORD=local_pass
    ports:
      - "5488:5432" 
    volumes:
      - local_pg_data:/var/lib/postgresql/data

  flyway:
    image: flyway/flyway:latest
    command: -connectRetries=60 migrate
    volumes:
      - ./EurovisionRanker.Api/db/migration:/flyway/sql # Point to your SQL folder
    environment:
      - FLYWAY_URL=jdbc:postgresql://db:5432/eurovision_local_db
      - FLYWAY_USER=local_user
      - FLYWAY_PASSWORD=local_pass
    depends_on:
      - db

volumes:
  local_pg_data: