name: Go

permissions:
  contents: read
  pull-requests: read

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest
    
    defaults:
      run:
        working-directory: ./legacy
    # ----------------------

    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.23.5'
        cache-dependency-path: legacy/go.sum

    - name: Build
      run: go build -v ./...

    # - name: Test
    #   run: go test -v ./...